html {
  height: 100%;
  width: 100%;
}

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  /* background-image: url(https://i.imgur.com/MtqNDl1.png); */
  background-image: url(https://i.imgur.com/WmKdpwF.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.image{
  height: 340px;
  width: 390px;
  background-image: url(https://i.imgur.com/TI605ra.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:absolute;
  top: 320px;
}
.btnstop{
  position:absolute;
  top: 700px;
}

.alarm {
  width: 304px;
  height: 200px;
  text-align: center;
  /* font-size: 2rem; */
  margin-top: 100px;
}

.text {
  font-size: 3rem;
  color: white;
  font-family: 'Helvetica';
  font-weight: 600;

}

.text1 {
  font-size: 1.2rem;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.alert{
  height: 100%;
  width: 100%;
  position:absolute;
  bottom: 10px;
  left:10px;
  animation: fadeIn,2s;
}


